[submodule ".emacs.d/.emacs.d/mu"]
	path = .emacs.d/.emacs.d/mu
	url = git@github.com:unixbhaskar/dotfiles.git
[submodule ".emacs.d/elpa/vterm-20210308.1505/build/libvterm-prefix/src/libvterm"]
	path = .emacs.d/elpa/vterm-20210308.1505/build/libvterm-prefix/src/libvterm
	url = https://github.com/neovim/libvterm.git
[submodule ".emacs.d/mu"]
	path = .emacs.d/mu
	url = https://github.com/djcb/mu.git
[submodule ".emacs.d/mu4e-dashboard"]
	path = .emacs.d/mu4e-dashboard
	url = https://github.com/rougier/mu4e-dashboard.git
[submodule ".emacs.d/org-weather"]
	path = .emacs.d/org-weather
	url = git@github.com:abo-abo/org-weather.git
[submodule ".emacs.d/rainbow-delimiters"]
	path = .emacs.d/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule ".emacs.d/emacs-libvterm"]
	path = .emacs.d/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
